<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <table id="lists">
    <thead>
      <th colspan="2">Liste des listes de Tâche</th>
    </thead>
    <tbody>
      <% lists.forEach((list) => { %>
        <tr>
          <td>
            <a href="<%= ` /task_lists/${list.id} ` %>"><%= list.name %></a>
          </td>
          <td>
            <form action= "<%= `/task_lists/${list.id}/delete` %>", method="get">
              <input type="submit" formmethod="delete" value="Supprimer" />
            </form>
          </td>
        </tr>
      <% }) %>
        <tr>
          <form action="/task_lists" method="POST">
            <td>
              <label for="name">Nom de la nouvelle liste:</label>
              <br>
              <input type="text" name="name", maxlength="120" />
            </td>
            <td>
              <input type="submit" value="Ajouter"/>
            </td>
          </form>
        </tr>
    </tbody>
  </table>

</body>
</html>