<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table id="task">
        <thead>
            <tr>
                <th colspan="2">
                    <%= task.description %>
                </th>
            </tr>
            <tr>
                <form action=" <%= `/task/${task.id}/description_update` %> " method="post">
                    <th>
                        <label for="description">Modifier la description de la tâche</label>
                        <br>
                        <input type="text" name="description" maxlength="500">
                    </th>
                    <th>
                        <input type="submit" value="Modifier">
                    </th>
                </form>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Terminé : <% if (task.done) {%> oui <%} 
                    else { %> non <% }%> 
                </td>
                <td>
                    <form action=" <%= `/task/${task.id}/done_update` %> " method="post">
                        <% if (task.done) { %>
                            <input type="submit" value="Pas Terminer"> 
                            <%}
                            else { %>
                             <input type="submit" value="Terminer"> 
                        <% } %>
                    </form>
                </td>
            </tr>
            <tr>
                <td> Date de création : </td>
                <td><%= task.date %></td>
            </tr>
        </tbody>
    </table>
    


</body>
</html>