<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1> <%= tasks[0].name %></h1>

    <ol>
        <% tasks.forEach((task) => { %>
        <li><a href=" <%= ` /task/${task.id} ` %> "><%= `${task.description}` %></a></li>
        <% }) %>
    </ol>
</body>
</html>