<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1> <%= task[0].description %></h1>
    <h2> Terminé : <% if (task[0].done) {%> oui <%} 
        else { %> non <% }%></h2>
    <h3> Date de création : <%= task[0].date %></h3>


</body>
</html>